{% extends 'base.html' %}


{% block content %}



 <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                    {% if form.errors %}
                          <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Your password and username are incorrect.
                        </div>
                    <p></p>
                    {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.
                        </div>
                        <p></p>
                    {% else %}
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Please login to see this page.
                        </div>
                    {% endif %}
                {% endif %}

                <form role="form"  action="{% url 'django.contrib.auth.views.login' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                            </label>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <!-- Change this to a button or input when using this as a form -->
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="login" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}

