appdirs==1.4.0
appnope==0.1.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
certifi==2016.9.26
colorama==0.3.7
configparser==3.5.0
dealer==2.0.5
decorator==4.0.10
Django==1.9.7
django-appconf==1.0.2
django-background-tasks==1.0.14
django-bootstrap3==7.0.1
django-bulk-update==1.1.10
django-compat==1.0.13
django-compressor==2.0
django-enumfield==1.3b2
django-extensions==1.7.1
django-guardian==1.4.6
django-libsass==0.7
django-model-utils==2.5
django-preserialize==1.1.0
django-sass-processor==0.3.5
django-static-precompiler==1.4
django-staticfiles==1.2.1
djangorestframework==3.4.7
dnspython==1.15.0
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
future==0.16.0
ipaddr==2.1.11
ipwhois==0.14.0
IPy==0.83
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonfield==1.0.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
libsass==0.11.1
MarkupSafe==0.23
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
notebook==4.2.3
packaging==16.8
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.8
psycopg2==2.6.1
ptyprocess==0.5.1
Pygments==2.1.3
pyparsing==2.1.10
python-dateutil==2.6.0
python-Levenshtein==0.12.0
python-whois==0.6.3
pytz==2016.7
pyzmq==16.0.0
qtconsole==4.2.1
rcssmin==1.0.6
requests==2.13.0
rjsmin==1.0.12
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
terminado==0.6
tld==0.7.8
tornado==4.4.2
traitlets==4.3.1
tryagain==1.0
wcwidth==0.1.7
widgetsnbextension==1.2.6
