{% extends 'manati_ui/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Change password" %}
{% endblock %}
{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="" method="post" id="password_change_form">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" class="btn btn-success" value="{% trans "Change password" %}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
