.dataTables_wrapper table tbody tr:not(.selected) td.malicious {
  background-color: red;
}
.dataTables_wrapper table tbody tr:not(.selected) td.legitimate {
  background-color: green;
}
.dataTables_wrapper table tbody tr:not(.selected) td.suspicious {
  background-color: darkorange;
}
.dataTables_wrapper table tbody tr:not(.selected) td.false_positive {
  background-color: lightskyblue;
}
.dataTables_wrapper table tbody tr:not(.selected) td.undefined {
  background-color: whitesmoke;
}
.dataTables_wrapper table tbody tr.selected td {
  background-color: #447e9b;
}
