.dataTables_wrapper table tbody tr:not(.selected) td.malicious {
  background-color: #FF6961;
}
.dataTables_wrapper table tbody tr:not(.selected) td.legitimate {
  background-color: #69c269;
}
.dataTables_wrapper table tbody tr:not(.selected) td.suspicious {
  background-color: darkorange;
}
.dataTables_wrapper table tbody tr:not(.selected) td.false_positive {
  background-color: lightskyblue;
}
.dataTables_wrapper table tbody tr:not(.selected) td.undefined {
  background-color: whitesmoke;
}

.dataTables_wrapper table tbody tr:not(.selected) td.malicious_legitimate {
    background-color: #863C00;
    /*color: white;*/
    /*background: -webkit-repeating-linear-gradient(145deg, red, red 10px, green 10px, green 20px);*/
    /*background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);*/
}
.dataTables_wrapper table tbody tr:not(.selected) td.suspicious_legitimate {
  background-color: #928300;
}
.dataTables_wrapper table tbody tr:not(.selected) td.undefined_legitimate {
  background-color: #81B67A;
}
.dataTables_wrapper table tbody tr:not(.selected) td.false_positive_legitimate {
  background-color: #50A78A;
}
.dataTables_wrapper table tbody tr:not(.selected) td.undefined_malicious {
  background-color: #FA8787;
}
.dataTables_wrapper table tbody tr:not(.selected) td.suspicious_malicious{
  background-color: #BD718A;
}
.dataTables_wrapper table tbody tr:not(.selected) td.false_positive_malicious {
  background-color: #BD718A;
}
.dataTables_wrapper table tbody tr:not(.selected) td.false_positive_suspicious {
  background-color: #BDB08A;
}
.dataTables_wrapper table tbody tr:not(.selected) td.undefined_suspicious {
  background-color: #FAC687;
}
.dataTables_wrapper table tbody tr:not(.selected) td.undefined_false_positive {
  background-color: #C4E3F7;
}
.dataTables_wrapper table tbody tr.selected td {
  background-color: #447e9b;
    color: white;
}


.jCProgress {
     position: absolute;
     z-index: 9999999;
     /*  margin-top:-15px; /* offset from the center */
}

.jCProgress > div.percent {
     font: 18px/27px 'BebasRegular', Arial, sans-serif;
     color:#ebebeb;
     text-shadow: 1px 1px 1px #1f1f1f;

     position:absolute;
     margin-top:40px;
     margin-left:22px;
     text-align: center;
     width:60px;
}

.sidebar {
    width: 180px;
}
#page-wrapper{
    margin-left: 180px;
}
.dataTables_wrapper th, .dataTables_wrapper td {
    white-space: nowrap;
}
