{% extends 'manati_ui/base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="" enctype="multipart/form-data" method="post">
                              {% crispy form %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
