.dataTables_wrapper table tr.row td {
  &.normal{
    background-color: whitesmoke;
  }
  &.malicious{
    background-color: red;
  }
  &.legitimate{
    background-color: green;
  }
  &.suspicious{
    background-color: darkorange;

  }
  &.falsepositive{
    background-color: lightskyblue;
  }

}